:root {
    --primary-brand-color: #4D5AE5;
    --dark-navi-color: #2E2F42;
    --success-color: #31D0AA;
    --slate-text-color: #434455;
    --light-slate-text: #8E8F99;
    --accent-color: #E7E9FC;
    --could-text-color: #F4F4FD;
    --light-bgc: #F4F4FD;  
    --main-white-bgc: #E5E5E5;
    --simple-white: #ffffff;
    --dark-bg-color: #2E2F42;
    --primary-bg-color: #4D5AE5;
    
}

/* dropdawn */
h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
   
}

ul, ol { margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
}

.list {list-style: none;}    
.link {text-decoration: none;}

/* / dropdawn */

/* Utilites */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;    
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


/* /Utilites */

body {font-family: "Roboto", sans-serif;
        color: var(--slate-text-color);} 
    
           

/* header main page */

.main-header {background-color: var(--simple-white);
    border-bottom: 5px solid rgba(46, 47, 66, 0.16);
}

   
.header-container {display: flex;}

.nav-section, .contacts-list, .nav-list {
    display: flex;
    align-items: center;
}


.logo {
    margin-right: 77px;
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-navi-color);}
 
.logo-part-color {
    color: var(--primary-brand-color);
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-navi-color);
    
}

.nav-link:hover, .nav-link:focus {
    color: var(--slate-text-color);
}

.nav-link:active {color: #4D5AE5;}

.contacts-list {
    margin-left: auto;
}
.contacts-list .contact-item + .contact-item {
    margin-left: 40px;
}

.mail-link, .phone-link {
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: var(--slate-text-color);}    
 
.mail-link:hover, .mail-link:focus {
    color: var(--primary-brand-color)
}
.phone-link:hover, .phone-link:focus {
    color: var(--primary-brand-color);
}

/* /Header */

/* main page section 1 */

.hero {background-color: var(--dark-bg-color);
    padding-top: 192px;
    padding-bottom: 291px;
}
.hero-text {
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--simple-white);}
 
.hero-button {
    padding: 16px 32px;
    border-radius: 4px;
    border: ;


    background-color: var(--primary-brand-color);
    color: var(--simple-white);
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    cursor: pointer;    
}
    

/* /main page section 1 */

/* main page section 2 */

.benefits {background-color: var(--main-white-bgc)}


.benefits-heading {
    padding-bottom: 8px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-navi-color);}

.benefits-list {
    display: flex;}   
    
.benefits-list .benefits-item + .benefits-item {
    margin-left: 24px;}   

.benefits-link {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;}



/* /main page section 2 */

/* main page section 3 */

.services {background-color: var(--main-white-bgc);}

.services-list {
    display: flex;
}

.services-item:not(:last-child) {
    margin-right: 24px;
}

.services-heading {
    padding-bottom: 72px;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-navi-color);}

/* /main page section 3 */

/* main page section 4 */

.team {
    background-color: var(--light-bgc);}

.team-list {
    display: flex;}

.team-item:not(:last-child) {
    margin-right: 24px;
}

.team-heading {
    padding-bottom: 72px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-navi-color);}

.team-title {
    padding-top: 32px;
    padding-bottom: 8px;    

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-navi-color);}

.team-text {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;}
   
/* /main page section 4 */

/* footer */
.main-footer {background-color: var(--dark-bg-color);
}

.logo-footer {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 16px;

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--could-text-color);}

.text-footer {
    padding-bottom: 100px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    max-width: 264px;}

/* portfolio page - main */


/* buttons filter */
.main-portfolio {
    background-color: var(--main-white-bgc);
    border-bottom: color: rgba(255, 255, 255, 1);}

.btn-list {    
    padding-top: 96px;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;}

.btn-list .btn-item + .btn-item {
    margin-left: 24px;
}

.btn-link {
    padding: 12px 24px;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--primary-brand-color);
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;}

.btn-link:hover, 
.btn-link:focus {
    background-color: var(--primary-bg-color);
    color: var(--simple-white);
    cursor: pointer;}

/* /buttons filter */

/* Works cards */

.work-list {
    display: flex;
    flex-wrap: wrap; 
    margin-right: -24px;   
    }

.work-item {
    flex-basis: calc(100% / 3 - 24px);
    margin-right: 24px;            
    margin-bottom: 48px;
    border-bottom: 0.5px solid rgba(244, 244, 253, 1);
    }

.work-list .work-item:nth-child(3n) {
    margin-right: 0;
}

.work-item:nth-last-child(-n + 3) {
    margin-bottom: 120px;}

 .works-card {margin-bottom: 32px;}    
    

.works-heading {
    padding-left: 16px;
    margin-bottom: 8px;
    
    color: var(--dark-navi-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;}


.work-text {
    padding-left: 16px;
    padding-bottom: 32px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text-color);}



   